<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @order.total_amount %>
</p>

<p>
  <strong>Payment details:</strong>
  <%= @order.payment_details %>
</p>

<p>
  <strong>Receipt:</strong>
  <%= @order.receipt %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.firstname %> <%= @order.user.lastname %>
</p>

<p>
  <strong>Product:</strong>
  <%= @order.product.title %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> 
<%= link_to 'Back', orders_path %>
