
<div style="text-align: center;">
    <h1 style="font-size: 50px;"><%= @main_header %></h1>
    <h2 style="font-size: 30px;"><%= @second_header %></h2>
    <p><%= @website_description %></p>
</div>

<%= link_to('Post Food', '/products/new')  %>
<%= link_to('Find Food', '/products')  %>
<%= link_to('Manage Details', root_path)  %>
<%= link_to('Order History', root_path)  %>
<%= link_to('Back', '/pages/landing_page_login')  %>

