<h1>Account Settings</h5>

<p>First Name: <%= @user.firstname %></p>
<p>Last Name: <%= @user.lastname %></p>
<p>Email: <%= @user.email %></p>
<p>Date of Birth: <%= @user.dob %></p>
<p>Phone: <%= @user.phonenumber %></p>