<h1>Welcome back <%= @user.email %>!</h1>
<%= link_to('Post Food', '/products/new')  %>
<%= link_to('Find Food', '/products')  %>
<%= link_to('Manage Details', root_path)  %>
<%= link_to('Order History', root_path)  %>
<%= link_to('About Us', root_path)  %>