<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :cost_per_unit %>
    <%= form.text_field :cost_per_unit %>
  </div>

  <div class="field">
    <%= form.label :pickup_location %>
    <%= form.text_field :pickup_location %>
  </div>

  <div class="field">
    <%= form.label :expiry %>
    <%= form.date_select :expiry %>
  </div>

  <%# <div class="field">
    <%= form.label :food_category %>
    <%# <%= form.text_field :food_category %> %> %>
        <%# <select>
        <option value="fruits">Fruits</option>
        <option value="vegetables">Vegetables</option>
        <option value="baked goods">Baked Goods</option>
        <option value="herbs/spices">Herbs/Spices</option>
        <option value="meats">Meats</option>
        <option value="condiments">Condiments</option>
        <option value="dairy">Dairy</option>
        <option value="animal produce">Animal Produce</option>
      </select> %>
  <%# </div> %>

  <div class="field"> %>
        <select>
        <option value="none">None</option>
        <option value="vegetarian">Vegetarian</option>
        <option value="vegan">Vegan</option>
        </select> %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

