	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>


<p id="notice"><%= notice %></p>

<h1>Products</h1>


<table id="products_table" class="display" style="width:100%">
  <thead>
      <th>Quantity</th>
      <th>Title</th>
      <th>Description</th>
      <th>Cost per unit</th>
      <th>Pickup location</th>
      <th>Expiry</th>
      <th>Food category</th>
      <th>Image</th>
      <th>User</th>
      <th></th>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.quantity %></td>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.cost_per_unit %></td>
        <td><%= product.pickup_location %></td>
        <td><%= product.expiry %></td>
        <td><%= product.food_category %></td>
        <td><%= image_tag product.image, width:'100' %></td>
        <td><%= product.user.firstname %></td>

        <td><%= link_to 'Show', product %>
                <% if product.user == current_user %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
        <td><%= product.image %></td> 
        <td><%= product.user.firstname %></td>

        <td><%= link_to 'Show', product %></td>
        <% if product.user == current_user %>   
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>

<script>
$(document).ready( function () {
    $('#products_table').DataTable();
} );
</script>
