<p id="notice"><%= notice %></p>

<!-- Grab current user email to use in stripe-->
<% if user_signed_in? %>
  <% @email = current_user.email %>
<% end %> 
<!-- Grab current user email to use in stripe-->

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Cost per unit:</strong>
  <%= @product.cost_per_unit %>
</p>

<p>
  <strong>Pickup location:</strong>
  <%= @product.pickup_location %>
</p>

<p>
  <strong>Expiry:</strong>
  <%= @product.expiry %>
</p>

<p>
  <strong>Food category:</strong>
  <%= @product.food_category %>
</p>

<p>
  <strong>Image:</strong>
  <%= @product.image %>
</p>

<p>
  <strong>User:</strong>
  <%= @product.user.email %>
</p>
<!-- This part deals with the stripe button -->
<%= form_tag charges_path do %>
            <%= hidden_field_tag(:product_id, @product.id) %>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="<%= @product.title %>"
                    data-amount="<%= @product.cost_per_unit %>"
                    data-currency="aud"
                    data-locale="auto"
                    data-email="<%= @email %>"
                    data-label="Buy <%= @product.title %>s "
                    data-allow-remember-me="false" >
            </script>
<% end %>
<!-- This part deals with the stripe button -->


<% if @product.user == current_user %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
<%= link_to 'Back', products_path %>
