<p id="notice"><%= notice %></p>

<!-- Grab current user email to use in stripe-->
<% if user_signed_in? %>
  <% @email = current_user.email %>
<% end %> 
<!-- Grab current user email to use in stripe-->

<p>
  <strong>Stock:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Cost per unit:</strong>
  <%= @product.cost_per_unit %>
</p>

<p>
  <strong>Pickup location:</strong>
  <%= @product.pickup_location %>
</p>

<p>
  <strong>Expiry:</strong>
  <%= @product.expiry %>
</p>

<p>
  <strong>Food category:</strong>
  <%= @product.food_category %>
</p>

<p>
  <strong>Image:</strong>
  <%= @product.image %>
</p>

<p>
  <strong>User:</strong>
  <%= @product.user.email %>
</p>




<!-- This part deals with the stripe button -->
<%= form_tag charges_path do %>

            <%= hidden_field_tag(:price, @product.cost_per_unit, id: :price) %>
            <p>
              <strong>Quantity Required:</strong>
              <%= number_field_tag('user_amount', nil, min: 1, max: @product.quantity) %>
            </p>

            <p>
              <strong>Total Amount: <span id="total"><%= @total_price unless nil %></span></strong>
            </p>

            <script id="stripeScript" src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="<%= @product.title %>"
                    data-amount="<%= @product.cost_per_unit %>"
                    data-currency="aud"
                    data-locale="auto"
                    data-email="<%= @email %>"
                    data-label="Buy <%= @product.title %>s "
                    data-allow-remember-me="false" >
            </script>
<% end %>
<!-- This part deals with the stripe button -->


<% if @product.user == current_user %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
<%= link_to 'Back', products_path %>


<script>
  var qtyInput = document.getElementById('user_amount')
  var totalText = document.getElementById('total')
  var price = document.getElementById('price')
  var stripeScript = document.getElementById('stripeScript')
  var total = price.value * 1;
  qtyInput.addEventListener('change', updatePage)


  function updateTotal(event) {
    var qty = event.target.value;
    return price.value * qty
  }

  function updatePage(event) {
    const total = updateTotal(event)
    totalText.innerText = total
    stripeScript.dataset.amount = total
    stripeScript.src = ''
    stripeScript.src = 'https://checkout.stripe.com/checkout.js'
  }
  
  


</script>